{% extends 'auctions/layout.html' %}

{% block body %}
<div class="container col-md-7 mt-5">
  <div class="h2">Categories <hr></div>
  <ul class="list-group col-md-12">
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'bike' %}">Bike</a>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'car' %}">Car</a>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'house' %}">House</a>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'others' %}">Laptop</a>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'bike' %}">Stock</a>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'car' %}">Tech</a>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'house' %}">Gadgets</a>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'others' %}">Antique</a>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'bike' %}">Blockchain</a>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'car' %}">Food</a>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'house' %}">Ride</a>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'others' %}">Education</a>
      <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a class="ms-3 link-underline" href="{% url 'active_listing' 'car' %}">Others</a>
      <span class="badge bg-primary rounded-pill">14</span>
  </ul>







  <ul>
    
    
    
  </ul>
</div>
  

{% endblock %}
