{% extends 'auctions/layout.html' %}

{% block body %}


<div class="mt-5 container col-md-7">
    <div class="h2">Create Listing</div><hr>
    <p class="lead">Create a new listing here</p>

    <form class="pt-4 g-3" action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <div class="pt-2 border border-1 border-secondary rounded-top rounded-4 mb-4 col-md-8 css-label-bg">
            <label for="name-input" class=" form-label form-label-size ps-3">Name</label>
            <input type="text" class="form-control form-control-lg" id="name-input" name="name" required autofocus>
        </div>
        <div class="pt-3 border border-1 border-secondary rounded-top rounded-4 mb-4 col-md-8 css-label-bg">
            <label for="desctiption-input" class="form-label form-label-size ps-3">Description</label>
            <!-- <input type="password" class="form-control" id="inputPassword4"> -->
            <textarea class="form-control form-control-lg" id="desctiption-input" name="description" rows="4"
                required></textarea>
        </div>
        <div class="pt-2 border border-1 border-secondary rounded-top rounded-4 mb-4 col-md-8 css-label-bg">
            <label for="img-url-input" class="form-label form-label-size ps-3">Image URL</label>
            <input type="url" class="form-control form-control-lg" id="img-url-input" name="img-url" required>
        </div>
        <div class="pt-2 border border-1 border-secondary rounded-top rounded-4 mb-4 col-md-8 css-label-bg">
            <label for="starting-bit-input" class="form-label form-label-size ps-3">Starting Bid</label>
            <input class="form-control form-control-lg" type="number" id="starting-bit-input" name="starting-bid"
                value="0" min="0" required>
        </div>
        <div class="pt-2 border border-1 border-secondary rounded-top rounded-4 mb-4 col-md-8 css-label-bg">
            <label for="category-select" class="form-label form-label-size ps-3">Select Catetory</label>
            <select id="catetory-input" class="form-select form-control-lg" name="category">
                <option selected>Select Category</option>
                {% for category in categories %}
                <option value="{{category.name}}">{{category.name|title}}</option>
                {% endfor %}                            
            </select>
        </div>
        <button type="submit" class="btn mb-3 default-btn-color btn-lg">Create</button>
    </form>
</div>
{% endblock %}