{% extends 'auctions/layout.html' %}

{% block body %}

{% if message %}
<li>
    <h6>{{ message }}</h6>
</li>
{% endif %}
<div class="container col-md-7">
    <div class="h1 py-4">Edit your profile</div>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'edit_profile' %}" method="post">
        {% csrf_token %}
        <div class="mb-4 col-md-8">
            <label for="first-name" class="form-label ">First Name</label>
            <input type="text" class="form-control form-control-lg" value="{{ first_name}}" id="first-name"
                name="first_name_input" placeholder="Enter your first name here" autofocus required>
        </div>
        <div class="mb-4 col-md-8">
            <label for="last-name class=" form-label form-label-size">Last Name</label>
            <input type="text" class="form-control form-control-lg" value="{{ last_name}}" id="last-name"
                name="last_name_input" placeholder="Enter your last name here" required>
        </div>
        <div class="mb-4 col-md-8">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control form-control-lg id="username" value="{{ username }}" name="username_input" aria-describedby="emailHelp" disabled>
          </div>
        <div class="mb-4 col-md-8">
            <label for="email class=" form-label form-label-size">Email</label>
            <input type="email" class="form-control form-control-lg" value="{{ email }}" id="email" name="email_input"
                disabled>
        </div>
        <button type="submit" class="btn mb-3 default-btn-color btn-lg">Update</button>
        <!-- <input class="btn btn-primary" type="submit" value="Login"> -->
    </form>
</div>
{% endblock %}