{% extends "auctions/layout.html" %}

{% block body %}
<div class="container col-md-7">
    <div class="container">
        <div class="h2 pt-5 pb-4">Active Listing
            <hr>
        </div>
    </div>

    {% for auction in active_auctions %}
    <div class="card mb-2" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ auction.image }}" class="card-img listing-img-small pe-3" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="container"></div>
                    <a href="{% url 'listing_page' auction.id %}" class="link-underline pb-3">
                        <div class="card-title link-underline h4 pb-3">{{ auction.name }}</div>
                    </a>
                    <h6>
                        <div class="card-text ">{{ auction.description|truncatewords:"15" }}</div>
                    </h6>
                    {% if auction.highest_bid %}
                    <h6>
                        <div class="card-text h2">${{ auction.highest_bid }}</div>
                    </h6>
                    {% else %}
                    <h6>
                        <div class="card-text  h2">${{ auction.starting_bid }}</div>
                    </h6>
                    {% endif %}
                    <h6>
                        <div class="card-text">Category: {{ auction.catg }}<divp>
                    </h6>
                    <p class="card-text"><small class="text-muted">Last updated: {{ auction.time|timesince }}
                            ago</small></p>
                </div>
            </div>
        </div>
    </div>
    {% empty %}

    <figure class="text-center">
        <blockquote class="blockquote">
            <p>There is no active listing in the database yet.</p>
            <p>You can create one <a class="link-underline" href="{% url 'create_listing' %}">Here</a></p>
        </blockquote>
    </figure>
    {% endfor %}
</div>


<div class="container col-md-7 mb-5">
    <div class="container">
        <div class="h2 pt-5 pb-4">Closed Listing
            <hr>
        </div>
    </div>
    {% for auction in closed_auctions %}
    <div class="card mb-2" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ auction.image }}" class="card-img listing-img-small pe-3" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="{% url 'listing_page' auction.id %}" class="link-underline">
                        <h5 class="card-title">{{ auction.name }}</h5>
                    </a>
                    <h6>
                        <p class="card-text">{{ auction.description }}</p>
                    </h6>
                    <h6>
                        <p class="card-text h2">${{ auction.starting_bid }}</p>
                    </h6>
                    <h6>
                        <p class="card-text">Category: {{ auction.catg }}</p>
                    </h6>
                    <p class="card-text"><small class="text-muted">Last updated: {{ auction.time|timesince }}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>No listing has been closed yet. Check back later.</p>
        </blockquote>
    </figure>
    {% endfor %}
</div>
{% endblock %}