{% extends "auctions/layout.html" %}

{% block body %}

<div class="container col-md-7">
    <div class="h1 py-4">Login</div>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="mb-4 col-md-8">
          <label for="username-input" class="form-label form-label-size">Username</label>
          <input type="text" class="form-control form-control-lg id="username" name="username" aria-describedby="emailHelp" placeholder="Enter your username" required>
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-4 col-md-8">
          <label for="password-input" class="form-label form-label-size">Password</label>
          <input type="password" class="form-control form-control-lg" id="password-input" name="password" placeholder="Enter your password" required>
        </div>
        <div class="mb-4 form-check">
          <input type="checkbox" class="form-check-input" id="remember-me">
          <label class="form-check-label justify-content-end" for="remember-me">Remember me</label>
        </div>
        <button type="submit" class="btn mb-3 default-btn-color btn-lg">Login</button>
        <!-- <input class="btn btn-primary" type="submit" value="Login"> -->
      </form>

      <div class="p">
        Don't have an account? <a class="link-underline" href="{% url 'register' %}">Register here.</a>
      </div>
</div>


{% endblock %}