{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container col-md-7">
        <div class="h1 py-4">Register</div>
    
        {% if message %}
        <div>{{ message }}</div>
        {% endif %}
    
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="mb-4 col-md-8">
              <label for="username-input" class="form-label">Username</label>
              <input type="text" class="form-control" id="username-input" name="username" aria-describedby="emailHelp" placeholder="Enter your username" required>
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-4 col-md-8">
              <label for="email-input" class="form-label">Email</label>
              <input type="email" class="form-control" id="email-input" placeholder="Enter your email" required>
            </div>
            <div class="mb-4 col-md-8">
                <label for="password-input" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-input" name="password" placeholder="Enter your password" required>
              </div>
              <div class="mb-4 col-md-8">
                <label for="confirm-password-input" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password-input" name="confirmation" placeholder="Confirm your password" required>
              </div>
            <div class="mb-4 form-check">
              <input type="checkbox" class="form-check-input" id="remember-me">
              <label class="form-check-label justify-content-end" for="remember-me">Remember me</label>
            </div>
            <button type="submit" class="btn mb-3 default-btn-color ">Register</button>
          </form>
    
          <div class="p">
            Already have an account? <a class="link-underline" href="{% url 'login' %}">Log In here.</a>
          </div
    </div>

{% endblock %}
